.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;
    background: rgb(75, 109, 223);
    height: 100%;
    width:60%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  